html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title 筆記・NOTE・ノート
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/base.css')

  body
    .note
      header.note-header
        a(href="#") 筆記・NOTE・ノート
        nav.note-menu
          a.note-menu-item(href="#dictionary")
            i(class="icon fas fa-search")
            span 字典
          a.note-menu-item(href="#note")
            i(class="icon far fa-list-alt")
            span 筆記
        span Log in
      main.note-main
      footer.note-footer © 2018. All rights reserved.
      script(src='/js/vendor.js')
