@basic-background: #666;

.note {
  background: #efefef;
}

html {
  font-size: 15px;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 3rem;
  background: @basic-background;
  color: #fff;
}

.note-menu-item {
  display: inline-block;
  vertical-align: middle;
  + .note-menu-item {
    margin-left: 20px;
    padding: 0 20px;
    border-left: 2px solid #999;
  }

  .icon {
    margin-right: 5px;
  }
}

.note-footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  font-size: 13px;
  width: 100%;
  text-align: center;
  background: @basic-background;
}